
<div class="container">
  <div id="wrapper">
  <div class="row">
    <div class="col-md-12">
    <div class="instructor">
  <h1>Instructor Profile</h1>
  <br/>
      <% if !@user.image.url.nil? %>
      <%=image_tag @user.image.url(:large) %>
      <% end %>
<br/>
<br/>
     <div id="name">
      <p class="info"><strong>Name:</strong>
        <%=@user.first_name + " " + @user.last_name%>
      </p>
      <p class="info"><strong>Interests:</strong>
        <%=@user.interests%>
      </p>
      <p class="info"><strong>Fitness Background:</strong>
        <%=@user.fitness_background%>
      </p>
    </div>
  </div>
</div>
<div id="tableinfo">
<div class="col-md-12">
  <h3>My Classes</h3>
  <br/>
      <div class="table-responsive text-center">
        <table class="table-striped">
          <tr>
            <td><strong>Class Name</strong></td>
            <td><strong>Date</strong></td>
            <td><strong>Time</strong></td>
            <td><strong>Location</strong></td>
            <td><strong>Duration</strong></td>
            <td><strong>Class Description</strong></td>
           </tr>
          <% @workouts.each do |workout| %>
           <tr>
             <td><%= workout.name %></td>
             <td><%= workout.date.strftime("%m/%d/%y") %></td>
             <td><%= workout.time.strftime('%r') %></td>
             <td><%= workout.location %></td>
             <td><%= workout.duration %></td>
             <td><%= workout.description %></td>
           </tr>
          <% end %>
         </table>
       </div>
      </div>
     </div>
    </div>
   </div>
 </div>
