<p id="notice"><%= notice %></p>

<div class="container">

  <h1 class="top huge_name center">Workout Listings</h1>

  <div id="new">
    <%if !current_user.nil?%>
    <% if current_user.has_role? :instructor %>
    <%= link_to 'New Workout', new_workout_path, id: 'new_workout' %>
    <% end %>
    <% end %>
  </div>

  <br>
  <br>
  <div id="calendar"></div>

  <div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
          <h4 id="modalTitle" class="modal-title top huge"></h4>
        </div>
        <div class="container modal-body">
          <div class="row">

            <div class="col-md-3">

              <strong class="octin big">Instructor</strong><p><a id="instructor"></a></p>
              <strong class="octin big">Category : </strong><p id="category"></p>
              <strong class="octin big">Time : </strong><p id="time"></p>
              <strong class="octin big">Location : </strong><p id="location"></p>
              <strong class="octin big">Duration : </strong><p id="duration"></p>
              <strong class="octin big">Class Description</strong><p id="description"></p>
            </div>
            <div class="col-md-3">
              <div class="image-responsive center">
                <img id="image">
              </div>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<form class="navbar-form text-center" action='/workouts/' method='get' role="search">
  <div class="form-group">
    <select class="form-control" name="search1" id="search-category">
      <option value="">Select Category</option>
      <option value="Yoga">Yoga</option>
      <option value="Swimming">Swimming</option>
      <option value="Weight Training">Weight Training</option>
      <option value="Cross Fit">Cross Fit</option>
      <option value="Cardio">Cardio</option>
    </select>
    <select class="form-control" name="search2" id="search-level">
      <option value="">Select Level</option>
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
    <select class="form-control" name="search3" id="search-instructor">
      <option value="">Select Instructor</option>
      <% @users.each do |user| %>
      <% if user.has_role? :instructor %>
      <option value="<%=user.id%>"><%=user.first_name%> <%=user.last_name%></option>
      <% end %>
      <% end %>
    </select>
    <p class="btn btn-default navbar-btn" id="search"><span class="glyphicon glyphicon-search"></span></p>
  </div>
</form>

<br>
<p id="category-search" hidden><%=params[:search1]%></p>
<p id="level-search" hidden><%=params[:search2]%></p>
<p id="instructor-search" hidden><%=params[:search3]%></p>
