
<!-- Page Heading/Breadcrumbs -->
<div class="row">
  <div class="col-lg-12">
    <h1>About</h1>
  </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">

  <div class="col-md-12 quick">
    <h2 class="huge_title varsity text-center"><i class="fa fa-universal-access fa-3x" aria-hidden="true"></i>
      <br>Winners Circle</h2>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <p class="quick bigger">Find free workouts near you!</p>
      <p class="quick bigger">Winners Circle is a place where we open up the community for both instructors to post classes for the community and people who want to find more info about fitness classes. People can search classes by workout categories, level of intensity, and/or by instructor.</p>
      <p class="quick bigger">Come be a part of our growing community where you can train for an upcoming marathon or just find a fun class to be part of. Destress with knowing there is a fitness class near you.</p>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="quick huge">Our Team</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <div>
        <%= image_tag 'bulgan.jpeg', :class => 'img-responsive center_img', :id => 'Face6' %>
        <div class="caption">
          <h3>Bulgan Batmagnai<br>
            <small>Full Stack Developer</small>
          </h3>
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/bulganbatmagnai"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://github.com/mongolchic"><i class="fa fa-2x fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <%= image_tag 'alex.jpg', :class => 'img-responsive center_img', :id => 'Face' %>
        <div class="caption">
          <h3>Alex Yong<br>
            <small>Full Stack Developer/ Fitness Enthusiast </small>
          </h3>
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/alex-yong-7746b470"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://github.com/Alex-Yong"><i class="fa fa-2x fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <%= image_tag 'sea.jpg', :class => 'img-responsive center_img', :id => 'Face2' %>
        <div class="caption">
          <h3>Sea-Anna Thompson<br>
            <small>Full Stack Developer / Fitness Enthusiast</small>
          </h3>
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/sea-anna"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://github.com/Seaanna"><i class="fa fa-2x fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="space-16"></div>
  <div class="row">
    <div class="col-md-4 text-center">
      <div>
        <%= image_tag 'justin.jpg', :class => 'img-responsive center_img', :id => 'Face3' %>
        <div class="caption">
          <h3>Justin Feria<br>
            <small>Full Stack Developer / Fitness Enthusiast</small>
          </h3>
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/justinferia"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://github.com/justinferia"><i class="fa fa-2x fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <%= image_tag 'anisha.jpg', :class => 'img-responsive center_img', :id => 'Face4' %>
        <div class="caption">
          <h3>Anisha Nigam<br>
            <small>Full Stack Developer</small>
          </h3>
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/anisha-nigam-17a754b4"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://github.com/anishanigam"><i class="fa fa-2x fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <%= image_tag 'will.jpg', :class => 'img-responsive center_img', :id => 'Face5' %>
        <div class="caption">
          <h3>William Tan<br>
            <small>Full Stack Developer</small>
          </h3>
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/william-tan-641842124"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://github.com/tanwilliam90"><i class="fa fa-2x fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- /.row -->

  <!-- Start of Footer -->
  <div class="row footer_color border_top">
    <div class="space-16"></div>
    <div class="col-xs-12 text-center">
      <span class="varsity biggest"><i class="fa fa-universal-access fa-lg" aria-hidden="true"></i> Winners Circle</span><br>
      <span class="big"> <%= Date.current.year %></span>
    </div>
    <div class="col-xs-12">
      <div class="space-8"></div>
    </div>
  </div>
  <!-- end of footer -->
